#### v2
# dependencies
v2_nextjs/node_modules

# testing
v2_nextjs/coverage

# next.js
v2_nextjs/.next/
v2_nextjs/out/

# production
v2_nextjs/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
v2_nextjs/next-env.d.ts

#### v1
v1_create_react_app/.firebase/hosting.YnVpbGQ.cache

# dependencies
v1_create_react_app/node_modules

# testing
v1_create_react_app/coverage

# production
v1_create_react_app/build

# misc
v1_create_react_app/.DS_Store
v1_create_react_app/.env.local
v1_create_react_app/.env.development.local
v1_create_react_app/.env.test.local
v1_create_react_app/.env.production.local

v1_create_react_app/npm-debug.log*
v1_create_react_app/yarn-debug.log*
v1_create_react_app/yarn-error.log*
