#### v2
# dependencies
v2-nextjs/node_modules

# testing
v2-nextjs/coverage

# next.js
v2-nextjs/.next/
v2-nextjs/out/

# production
v2-nextjs/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
v2-nextjs/next-env.d.ts

#### v1
v1-create-react-app/.firebase/hosting.YnVpbGQ.cache

# dependencies
v1-create-react-app/node_modules

# testing
v1-create-react-app/coverage

# production
v1-create-react-app/build

# misc
v1-create-react-app/.DS_Store
v1-create-react-app/.env.local
v1-create-react-app/.env.development.local
v1-create-react-app/.env.test.local
v1-create-react-app/.env.production.local

v1-create-react-app/npm-debug.log*
v1-create-react-app/yarn-debug.log*
v1-create-react-app/yarn-error.log*
