#### v2
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
v2_nextjs/node_modules
v2_nextjs/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


#### v1
v1_create_react_app/.firebase/hosting.YnVpbGQ.cache

# dependencies
v1_create_react_app/node_modules

# testing
v1_create_react_app/coverage

# production
v1_create_react_app/build

# misc
v1_create_react_app/.DS_Store
v1_create_react_app/.env.local
v1_create_react_app/.env.development.local
v1_create_react_app/.env.test.local
v1_create_react_app/.env.production.local

v1_create_react_app/npm-debug.log*
v1_create_react_app/yarn-debug.log*
v1_create_react_app/yarn-error.log*
