.arrow-img{
    filter: brightness(0) invert(1); /* grayscale(100%); */
}
.arrow-img:hover{
    /* Pulsing animation of some sort */
    /* opacity: 10%; */
    animation: pulse ease-in-out 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes pulse {
    100%{
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
    0%{
        opacity: 100%;
    }
}