@media screen and (max-width: 600px){
    #home{
        flex-direction: column !important;
    }
    #row{
        width: 100% !important;
        flex-direction: row !important;
    }
    #home-content{
        width: 100% !important;
    }
}