@media screen and (max-width: 600px){
    .portfolio-item:hover .project-img{
        scale: 1 !important;
    }
}
.container-fluid > .row {
    margin: 0;
}
.portfolio-item:hover .project-img{
    /* filter: opacity(85%);
    box-shadow: 0 0 15px 1px white; */
    scale: 1.05; /* Check that it qorks fine when more projects added in */
}
.project-img{
    transition: 0.5s;
}
.portfolio-caption-heading{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    /* font-weight: bold; */
    margin-top: 10px;
    text-decoration: none !important;
}
.portfolio-caption-subheading{
    font-style: italic;
    color: rgb(190, 190, 190, 0.9);
}

