@media screen and (max-width: 1000px){
    .career-block{
        flex-direction: column !important;
    }
    .career-image{
        margin: 0 auto;
        /* margin-bottom: 15px; */
    }
    .career-info-block{
        width: 100% !important;
        margin-top: 15px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
.career-info-block:hover{
    cursor: pointer;
    background-color: #242527;
}
.career-info, .career-text{
    height: 100%;
}
.career-info, .career-text{
    padding: 10px;
}
.career-text{
    /* height: 164px; */
    word-spacing: 0.1rem;
    text-align: justify;
}